.header_bar{
    position: absolute;
    z-index: 3;
    top: 3rem;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    width: 25rem;
    height: 1.5rem;
    background: #eee;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor:pointer;
    font-size: small;
    padding: 0 1.75rem 0 .75rem;
}

.header_bar > div:hover{
    color: #398df0;
}
